.btn button{
    font-size: 1vw;
    font-weight: 600;
    padding: 0.5vw 1.4vw;
    color: rgb(9, 9, 112);
    background-color: rgb(255, 255, 255);
    border-radius: 0.7vw;
    border: none;

}

@media (max-width: 500px) {
    .btn button{
      display: none;
    
    }
}